In [43]:
# Dependencies
import pandas as pd

In [44]:
# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [45]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [70]:
#finding the total of schools, students, and budgets
total_schools = len(school_data_complete_df["school_name"].unique())

total_students = len(school_data_complete_df["Student ID"].unique())

budget_for_each_school = school_data_complete_df["budget"].unique()
total_budget= budget_for_each_school.sum()

print("There are " + str(total_schools) + " total schools.")
print("There are " + str(total_students) + " total students.")
print("The total budget is $" + str(total_budget) + ".")

There are 15 total schools.
There are 39170 total students.
The total budget is $24649428.

In [71]:
#Finding the average math and reading score
average_math_score = school_data_complete_df["math_score"].mean()

average_reading_score = school_data_complete_df["reading_score"].mean()

print("The average math score was " + str(average_math_score) + ".")
print("The average reading score was " + str(average_reading_score) + ".")

The average math score was 78.98537145774827.
The average reading score was 81.87784018381414.

In [81]:
#finding the percent of students who pass math, reading, and both
pass_math= school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70), :].count()
pass_math_percent = (pass_math / total_students) *100
print(pass_math_percent)

pass_reading = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70), :].count()
pass_reading_percent = (pass_reading / total_students) * 100

pass_both = school_data_complete_df.loc[(school_data_complete_df["math_score"]>= 70) &
                                        (school_data_complete_df["reading_score"]>= 70),:].count()
pass_both_percent= (pass_both / total_students) *100

#print(str(pass_math_percent) + "% of students passed math.")
#print(str(pass_reading_percent) + "% of students passed reading.")
#print(str(pass_both_percent) + "% of students passed both math and reading.")

ValueError: can only convert an array of size 1 to a Python scalar

In [76]:
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], 
                                    "Total Budget": [total_budget], "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score], "% Passing Math": [pass_math_percent],
                                    "% Passing Reading":[pass_reading_percent], "% Passing Both": [pass_both_percent]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,39170,24649428,78.985371,81.87784,Student ID 74.980853 student_name 74...,Student ID 85.805463 student_name 85...,Student ID 65.172326 student_name 65...